print('-*-='*5)
print('Calculadora em Python')
print('-*-='*5)

#Calculadora com números inteiros!

while True:
    operacao = input('Qual operação que vc deseja fazer (+,-,*,/,%) ? Deseja continuar? ou  Pretende sair então digite \'E\' para sair? ')
    if operacao == 'e' or operacao == 'E':
        break

    elif operacao == '+' or operacao == '-' or operacao == '*' or operacao == '/' or operacao == '%':
        num1 = int(input('Digite o primeiro número: '))
        num2 = int(input('Digite o segundo número: '))
    else:
        print('Operacao invalida')

    if operacao == '+':
        total = num1 + num2
        print(total)

    elif operacao == '-':
        total = num1 - num2
        print (total)

    elif operacao == '*':
        total = num1 * num2
        print(total)

    elif operacao == '/':
        total = num1 / num2
        print(total)

    elif operacao == '%':
        total= num1 % num2
        print(total)

print('-*-='*16)
print('InRobot Dev.Mobile/Web!')
print('Desenvolvimento de Apps Mobile e Web ,Facilitando seu dia-a-dia')
print('-*-=*16)
